{% extends 'base.html' %}

{% block title %}
Tracker
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Trails</h1>
        <div>
            <a href="">Create a new project</a>
        </div>
        {% if trail_instance %}
        <table>
            <tr>
                <th>Trail Name</th>
            </tr>
            {% for trail in trail_instance %}
            <tr>
                <td>
                    <a href="">{{ trail.trail_name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
